doctype html
html
	head
		meta(name="viewport",content="width=device-width")
		if user
			script window.USER=JSON.parse(atob("!{user}"))
		else
			script window.USER=undefined
		script window.CSRF_TOKEN="#{csrfToken}"
		script window.GIT_VERSION="#{GIT_COMMIT}"
		- const siteName = "Quesdon@Planet"
		if profile
			- const title = `${profile.name}님의 ${questionBoxName || '질문함'}`
			- const description = profile.description || `${title} 입니다`
			meta(name="twitter:card", content="summary")
			meta(property="og:site_name", content=siteName)
			meta(property="og:title", content=title)
			meta(name="description", content=description)
			meta(property="og:description", content=description)
			meta(property="og:image" content=profile.avatarUrl)
			link(rel="me",href=profile.url)
		else
			meta(property="og:site_name", content=siteName)
			meta(property="og:title", content=siteName)
			meta(property="og:description", content="Mastodon에서 사용할 수 있는 askfm스러운 무언가")
		script(src="https://cdn.polyfill.io/v2/polyfill.js?features=fetch")
		script(src="/assets/bundle.js?version="+GIT_COMMIT)
	body
		#root
			p ...어? 혹시 페이지가 나오지 않나요??
			p 불편을 끼쳐 드려 죄송해요. 새로고침을 해 보시고, 만약 그래도 이 화면만 계속 뜬다면 아래 동작 환경을 충족하는지 확인 후 Mastodon @planet@planet.moe 에 문의해 주세요.
			h2 동작 환경
			ul
				li iOS 
					del 9.3.5
					| &nbsp;10 이상 (추천: iOS 11.2.2 이상)
				li Chrome 63 이상
				li Firefox 57 이상
			p Edge, Internet Explorer는 지원 대상이 아니라서 오류가 발생할 수 있어요. Firefox나 Google Chrome을 추천드려요.